@import 'tailwindcss';

:root {
  --background: #0f192b;
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f192b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  width: 90%;
  margin: 0 auto !important;
} */

input::placeholder {
  color: rgba(2, 48, 16, 0.369);
}

input {
  color: #079669d9;
  font-weight: bold;
}

/* Chrome, Safari */
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4caf50; /* ✅ Change color here */
  border-radius: 10px;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #4caf50; /* ✅ Change color here */
}
